<!doctype html>
<html>
  <head>
    <title>Festival</title>
  </head>
  <body>
    <h1>Festival</h1>
    <div id="mount"></div>
    <script src="//maps.googleapis.com/maps/api/js"></script>
    <script src="<%= appScript %>"></script>
  </body>
</html>
